# Ignore Play! working directory from internet#
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache

#　Ignore Play Project:PlayApp
/playApplication/PlayApp/logs
/playApplication/PlayApp/project/project
/playApplication/PlayApp/project/target
/playApplication/PlayApp/.target
/playApplication/PlayApp/tmp
/playApplication/PlayApp/.history
/playApplication/PlayApp/dist
/playApplication/PlayApp/.idea
/playApplication/PlayApp/*.iml
/playApplication/PlayApp/out
/playApplication/PlayApp/.idea_modules
/playApplication/PlayApp/.classpath
/playApplication/PlayApp/.project
/playApplication/PlayApp/RUNNING_PID
/playApplication/PlayApp/.settings
/playApplication/PlayApp/.gitignore
/playApplication/PlayApp/README

#　Ignore Play --Project:ScalaApp
/playApplication/ScalaApp/logs
/playApplication/ScalaApp/project/project
/playApplication/ScalaApp/project/target
/playApplication/ScalaApp/.target
/playApplication/ScalaApp/tmp
/playApplication/ScalaApp/.history
/playApplication/ScalaApp/dist
/playApplication/ScalaApp/.idea
/playApplication/ScalaApp/*.iml
/playApplication/ScalaApp/out
/playApplication/ScalaApp/.idea_modules
/playApplication/ScalaApp/.classpath
/playApplication/ScalaApp/.project
/playApplication/ScalaApp/RUNNING_PID
/playApplication/ScalaApp/.settings
/playApplication/ScalaApp/.gitignore
/playApplication/ScalaApp/README

# Ignore Eclipse metadata
/eclipse/.metadata
/eclipse/.recommenders

# Ignore Eclipse Unnecessary Project
/eclipse/RemoteSystemsTempFiles

# Ignore Eclipse Scala Unnecessary Files --Project:ScalaTest
/eclipse/ScalaTest/.cache-main
# /eclipse/ScalaTest/.classpath
# /eclipse/ScalaTest/.project
# /eclipse/ScalaTest/.settings

# Ignore Eclipse Java Unnecessary Files --Servers
/eclipse/Servers

# Ignore Eclipse Java Unnecessary Files --Project:ForStudySpring
/eclipse/ForStudySpring/target

# Ignore Eclipse setting File --Project:EffectiveJava
/eclipse/EffectiveJava/.settings/
